// Variables
@import "variable.scss";

.footer-content {
    padding: 30px 0px;
    border-top: 1px solid $border;

    .copyright {
        p {
            margin-bottom: 0px;
            margin-top: 7px;
        }
    }
}

.footer-social {
    text-align: right;

    a {
        width: 35px;
        height: 35px;
        text-align: center;
        border: 1px solid $border;
        color: #9b9ca0;
        display: inline-block;
        border-radius: 50px;
        font-size: 12px;
        padding: 7px;
        margin: 0px 7px;
    }
}